/* General Style */
body {
    background-color: #d2c1ae; /* Warna kertas tua */
    background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png');
    color: #2c2c2c;
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 20px;
}

.paper-container {
    max-width: 900px;
    margin: auto;
    border: 1px solid #a39382;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

/* Header & Banner */
.newspaper-header {
    text-align: center;
    border-bottom: 4px double #2c2c2c;
    padding-bottom: 10px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2c2c2c;
    padding: 5px 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.main-title {
    font-size: 80px;
    margin: 20px 0;
    font-family: 'Times New Roman', serif;
    letter-spacing: 5px;
}

/* Navigation */
.newspaper-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #2c2c2c;
    padding: 10px 0;
}

.newspaper-nav ul li a {
    text-decoration: none;
    color: #2c2c2c;
    font-weight: bold;
    margin: 0 15px;
    font-size: 14px;
}

/* Article Content */
.article-title {
    text-align: center;
    font-size: 32px;
    margin: 30px 0;
    text-decoration: underline;
}

.main-image {
    text-align: center;
    margin-bottom: 30px;
}

.main-image img {
    width: 95%;
    filter:none;
    border: 1px solid #2c2c2c;
    transition: 0.3s;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.card {
    border: 1px solid #2c2c2c;
    padding: 15px;
    text-align: center;
}

.card a:hover .side-img {
    filter: grayscale(0%) sepia(0%); 
    transform: scale(1.02); 
    transition: 0.3s;
}

.card a:hover h3 {
    text-decoration: underline; 
}

.form-container {
    max-width: 500px;
    margin: 40px auto;
    border: 2px solid #2c2c2c;
    padding: 30px;
}

.caption {
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
}

.article-columns {
    display: flex;
    gap: 30px;
    text-align: justify;
    line-height: 1.6;
}

.column {
    flex: 1;
}

.side-img {
    width: 60%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
    filter: none;
    padding: 3px;
}

/* Footer */
.newspaper-footer {
    margin-top: 40px;
    border-top: 1px solid #2c2c2c;
    padding: 20px;
    text-align: center;
    font-size: 12px;
}